<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(211, 200, 200);">
    
  
     <div class="mivies" style="margin-bottom: 30px;border: 1px solid rgb(215, 170, 170);background-color: rgb(69, 65, 65);color: white; ">
       <h1 style="color:cadetblue;">MOVIE RECOMMNEDATION</h1>
        <label for="search">Search here</label>
        <input type="text"  placeholder="serach movies here" id="searchinput" >
     </div>  
  
    
    <section id="section"   style="display:flex;background-color:rgb(70, 67, 67)
    ;margin-top: 50px; margin: auto;flex-wrap: wrap;padding: 30px;border: 1px solid gray;gap: 20px;color: aliceblue;"></section>

    <script type="module" src="/main.js"></script>
</body>
</html>